body {
    width: 100%;
    height: 100%;

    margin: 0px;

    position: absolute;
    left: 0px;
    top: 0px;

    background-color: #eaeaea;
}

#user_nav {
    width: 100%;
    margin-bottom: 42px;
}

#nav_game {
    float: left;
    margin-left: 5px;
}

#nav_session {
    float: right;
    margin-right: 5px;
}

#game #sideboard {
    height: 120px;
    clear: both;
}

#game #sideboard > div {
    display: inline-block;
    vertical-align: top;
    width: 24%;
}

#game #sideboard #controls > div {
    display: inline-block;
    vertical-align: top;
}

#game #sideboard #controls #candidate {
    height: 90px;
    width: 90px;
    background: white;
}

#game #board {
    clear: both;
    overflow: scroll;
    background-color: white;
}

#game .r1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#game .r2 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#game .r3 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

#game .row {
    height: 90px;
}

#game .col {
    height: 90px;
    width: 90px;
    display: inline-block;
}

#game .candidate-active {
    background: #eaeaea;
    border-color: #002b36;
    border-style: dashed;
    border-width: 1px;
    height: 88px;
    width: 88px;
}

#game .candidate-inactive {
    background: #aeaeae;
    border-color: #002b36;
    border-style: dashed;
    border-width: 1px;
    height: 88px;
    width: 88px;
}

