#user_nav {
    float: right;
}

#game {
    clear: both;
}

#game .r1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#game .r2 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
#game .r3 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

#game .row {
    height: 90px;
}

#game .col {
    height: 90px;
    width: 90px;
    display: inline-block;
}

#game .candidate-active {
    background: #eaeaea;
    border-color: #002b36;
    border-style: dashed;
    border-width: 1px;
    height: 88px;
    width: 88px;
}

#game .candidate-inactive {
    background: #aeaeae;
    border-color: #002b36;
    border-style: dashed;
    border-width: 1px;
    height: 88px;
    width: 88px;
}

#game #board {
    overflow: scroll;
}

#game #sideboard {
    height: 120px;
}

#game #candidate {
    float: left;
    height: 90px;
    width: 90px;
    background: #eaeaea;
}

#game #controls {
    float: left;
}

#game #play {
    float: left;
    height: 90px;
}
