<%= fields_for 'game[users]', :index => nil do |user_form| %>
  <li>Email: <%= user_form.text_field :email %> 
    <%= link_to_function "Remove", "$(this).parent().remove()" %>
    <br/>
    Colour: <%= user_form.text_field :colour %></li>
<% end %>
