<h1>CloisterSpace</h1>
<% if current_user %>
  <h2>Listing games</h2>

  <% if @games.any? %>
    <table style="width: 100%">
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @games.each do |game| %>
        <tr>
          <td><%= link_to game.id, game %></td>
          <td>
            <%= game.players.collect { |player| User.find(player.user_id).email }.join(', ') %>
          </td>
          <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br />

  <%= link_to 'New Game', new_game_path %>
<% end %>
