<p id="notice"><%= notice %></p>
<div id="game">
  <div id="board"></div>
  <div id="sideboard">
    <div id="controls">
      <img id="candidate" src=""/>
      <div style="float: right">
        <input id="left" type="button" value="Left" disabled="disabled"/><br/>
        <input id="right" type="button" value="Right" disabled="disabled"/><br/>
        <input id="next" type="button" value="Next" disabled="disabled"/>
      </div>
    </div>
    <div id="debug">
      <div id="play">
        <input id="go" type="button" value="Go!"/><br/>
        <input id="step" type="button" value="Step"/><br/>
        <input id="draw" type="button" value="Draw"/><br/>
      </div>
      <div id="features">  
        <input id="features_all" type="button" value="Features: All"/><br/>
        <input id="features_completed" type="button" 
               value="Features: Completed"/><br/>
        <input id="features_farms" type="button" 
               value="Features: Farms"/>
      </div>
    </div>
  </div>
  <div style="display:none">
    <div id="game_id"><%= @game.id %></div>
    <div id="num_tiles">72</div>
  </div>
</div>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
